body {
    background-color: #151515;
    height: 99vh;
    color: #fffff8;
    display: flex; flex-flow: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2.5vw;
}

#titleBar {
    width: 100%;
    margin-bottom: 1vh;
}

main {
    width: 100%;
    flex: 1;
    display: flex; flex-wrap: wrap; 
}

footer {
    display: flex; justify-content: space-between;
    width: 100%;
}

bdi {
    color: #ffe888;
}

a {
    color: #ffe888;
    outline: none;
    text-decoration: none;
}

#mailIcon, #instaIcon {
    width:2vw;
}

@media (max-width: 1340px) {
    body {
        font-size: 2.65vw;
    }
    #mailIcon, #instaIcon {
        width:2.15vw;
    }
}
@media (max-width: 1240px) {
    body {
        font-size: 2.80vw;
    }
    #mailIcon, #instaIcon {
        width:2.3vw;
    }
}

@media (max-width: 1140px) {
    body {
        font-size: 2.95vw;
    }
    #mailIcon, #instaIcon {
        width:2.45vw;
    }
}

@media (max-width: 1040px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 82vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 82vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
    }
    main {
        flex: none;
        height: 71vh;
    } 
}

@media (max-width: 940px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 84vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 84vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
    }
    main {
        flex: none;
        height: 74vh;
    } 
}

@media (max-width: 840px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 86vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 86vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
    }
    main {
        flex: none;
        height: 77vh;
    } 
}

@media (max-width: 740px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 88vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 88vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
        
    }
    main {
        flex: none;
        height: 80vh;
    }  
}

@media (max-width: 640px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 90vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 90vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
    }
    main {
        flex: none;
        height: 83vh;
    }   
}

@media (max-width: 540px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 72vw;
        align-self: flex-start;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
        position: absolute;
        top: 92vh;
    }
    nav {
        align-self: flex-start;
        font-size: 4.5vw;
        position: absolute;
        top: 92vh;
    }
    #mailIcon, #instaIcon {
        width:10vw;
    }

    main {
        flex: none;
        height: 86vh;
    }   
}