body {
    background-color: #151515;
    height: 99vh;
    color: #fffff8;
    display: flex; flex-flow: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2.5vw;
}

#titleBar {
    width: 100%;
}

main {
    width: 100%;
    flex: 1;
    display: flex; flex-wrap: wrap;
}

footer {
    display: flex; justify-content: space-between;
    width: 100%;
}

bdi {
    color: #ffe888;
}

a {
    color: #ffe888;
    outline: none;
    text-decoration: none;
}

#mailIcon, #instaIcon {
    width:2vw;
}

@media (max-width: 1340px) {
    body {
        font-size: 2.65vw;
    }
    #mailIcon, #instaIcon {
        width:2.15vw;
    }
}
@media (max-width: 1240px) {
    body {
        font-size: 2.80vw;
    }
    #mailIcon, #instaIcon {
        width:2.3vw;
    }
}

@media (max-width: 1140px) {
    body {
        font-size: 2.95vw;
    }
    #mailIcon, #instaIcon {
        width:2.45vw;
    }
}

@media (max-width: 1040px) {
    body {
        font-size: 3.1vw;
    }
    #mailIcon, #instaIcon {
        width:2.6vw;
    }
}

@media (max-width: 940px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 50vw;
        align-self: center;
        font-size: 4vw;
        display: flex; justify-content: space-between;
    }
    nav {
        align-self: center;
        font-size: 3.75vw;
    }
    #mailIcon, #instaIcon {
        width:2.75vw;
    }
}

@media (max-width: 840px) {
   footer {
        flex-flow: column;
    }
    #info {
        width: 55vw;
        align-self: center;
        font-size: 4vw;
        display: flex; justify-content: space-between;
    }
    nav {
        align-self: center;
        font-size: 3.9vw;
    }
    #mailIcon, #instaIcon {
        width:2.9vw;
    }
}

@media (max-width: 740px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 60vw;
        align-self: center;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
    }
    nav {
        align-self: center;
        font-size: 5vw;
    }
    #mailIcon, #instaIcon {
        width:4vw;
    }
}