body {
    background-color: #151515;
    height: 99vh;
    color: #fffff8;
    /* border: 1px solid #888; */
    display: flex; flex-flow: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2.5vw;
}

@media (max-width: 1340px) {
    body {
        font-size: 2.65vw;
    }
}
@media (max-width: 1240px) {
    body {
        font-size: 2.80vw;
    }
}

@media (max-width: 1140px) {
    body {
        font-size: 2.95vw;
    }
}

@media (max-width: 1040px) {
    body {
        font-size: 3.1vw;
    }
}

@media (max-width: 940px) {
    body {
        font-size: 3.25vw;
    }
}

@media (max-width: 840px) {
    body {
        font-size: 3.4vw;
    }
}

@media (max-width: 740px) {
    footer {
        flex-flow: column;
    }
    #info {
        width: 58vw;
        align-self: center;
        font-size: 4.5vw;
        display: flex; justify-content: space-between;
    }
    nav {
        align-self: center;
        font-size: 3.6vw;
    }
}
img {
    border: inherit;
    width: 100%;
}

main {
    border: inherit;
    width: 100%;
    flex: 1;
    display: flex; flex-wrap: wrap;
    /* overflow: auto; */
}

footer {
    border: inherit;
    display: flex; justify-content: space-between;
    width: 100%;
}

#info {
    border: inherit;
}

span {
    border: inherit;
}

nav {
    border: inherit;
}

bdi {
    border: inherit;
    color: #fff1b4;
}